@keyframes pulse{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}

.skeleton{
    background: #1E293B;
    border-radius: 8px;
    animation: pulse 1.3s infinite;
}

.sk-logo{
    width: 6rem;
    height: 3rem;
    margin: 0.6rem;
}

.sk-item{
    width: 3.9rem;
    height: 3rem;
    margin-left: 0.7rem;
}

.m-list{
    display: none;
    list-style-type: none;
}

.menu-btn{
    width: 3.9rem;
    height: 3rem;
}

.cont{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1.4rem 1rem;
}


.com-name{
    height: 1.8rem;
    width: 9.4rem;
}

.shrt-tagline{
    height: 0.8rem;
    width: 6.7rem;
}

.brf-desc{
    height: 1rem;
    width: 12rem;
}

.sk-btn{
    width: 6rem;
    height: 2.5rem;
    margin-left: 0.7rem;
}

.prt-1{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.cta-buttons{
}

.sk-label{
    width: 2.5rem;
    height: 1rem;
}

.sk-header{
    height: 1.3rem;
    width: 4.5rem;
}

.sk-descr{
    width: 8rem;
    height: 2rem;
}

.prt-1{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.abt{
    margin-top: 1rem;
}

.sk-img{
    width: 10rem;
    height: 8rem;
    margin-top: 0.8rem;
}

.sk-screenshot{
    width: 15rem;
    height: 12rem;
}

.projects{
    margin-top: 1rem;
}

.type{
    width: 7rem;
    height: 2rem;
} 

.descr{
    width: 9rem;
    height: 2rem;
}

.prt{
    margin-top: 1rem;
}

.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.skill{
    width: 3.6rem;
    height: 2rem;
    margin-top: 0.6rem;
}

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

main{
    margin-top: 3.5rem;
}

.contact-button{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    position: fixed;
    left: 70%;
    bottom: 15%;
}


.sk-pbtn{
    width: 6rem;
    height: 3rem;
}

.logo{
    width: 6rem;
    height: 3rem;
    border-radius: var(--border-radius);
}

.menu{
    display: none;
}

.bd-header{
    background: rgba(0,0,0,0.2);
    border: none;
    --webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem 0.5rem;
}

.bd-nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bd-logo{
    width: 7rem;
    height: auto;
}

.bd-menu-btn{
    font-size: var(--font-size);
    background: var(--bg);
    margin-left: 0.6rem;
    color: white;
}

.bd-menu-btn:active, .bd-menu-btn:hover{
    border: 0.01rem solid var(--border);
    color: white;
}

.bd-menu{
    display: none;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    transition: transform var(--transition-dalay) linear;
    color: white;
    transform: translateX(100%);
    overflow: hidden;
}

.n-link:link, .n-link:visited{
    background: rgba(225,255,255,0.3);
    border-radius: var(--border-radius);
    border: 0.02rem solid var(--border);
    color: white;
    transition: background var(--transition-duration) linear, color var(--transition-duration) linear;
}

.n-link:active, .n-link:hover{
    background: var(--bg);
    color: var(--accent);
}

.b-active .n-link:active{
    border: 0.02rem solid var(--border);
    background: var(--bg);
    color: white;
}

main{
    margin-top: 4rem;
}

.section-1{
    background: url("../images/file_0000000028c071f4a9e771e5514b0d43.png");
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.bd-hero{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding-top: 1.5rem;
}

h1{
    font-size: clamp(3rem, 2.5vw, 5vw);
    font-weight: 700;
}

.np{
    background: linear-gradient(96deg,var(--primary), var(--accent));
    background-clip: text;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
    color: transparent;
}

.shrt-tg{
    color: var(--accent);
    border-radius: var(--border-radius);
    border: 0.04rem solid var(--accent);
    padding: 0.5rem;
}

.cta-btn{
    margin-bottom: 0.8rem;
    text-align: center;
    text-decoration: none;
}

.cta-btn:nth-child(1):link, .cta-btn:nth-child(1):visited{
    color: white;
    background: var(--accent);
    border-radius: var(--border-radius);
    padding: 0.6rem;
}

.cta-btn:nth-child(1):hover, .cta-btn:nth-child(1):active{
    color: var(--accent);
    background: transparent;
    border-radius: var(--border-radius);
    border: 0.04rem solid var(--accent);
    text-decoration: none;
}

.cta-btn:nth-child(2):link, .cta-btn:nth-child(2):visited{
    color: var(--accent);
    background: transparent;
    border-radius: var(--border-radius);
    padding: 0.6rem;
    border: 0.04rem solid var(--accent);
}


.cta-btn:nth-child(2):hover, .cta-btn:nth-child(2):active{
    color: white;
    background: var(--accent);
    border-radius: var(--border-radius);
    border: 0.04rem solid var(--accent);
    text-decoration: none;
}

.bd-abt{
    background: var(--bg);
    margin: 2rem 1rem;
    margin-right: 1.2rem;
    border: 0.02rem solid var(--border);
    padding: 1rem;
    border-radius: var(--border-radius);
    overflow-wrap: break-word;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.bd-prt-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    
}

.bd-abt::before, .bd-prjt::before{
    display: block;
    position: absolute;
    content: "About";
    color: var(--accent);
    top: 0.7rem;
    left: 0.6rem;
}

.bd-abt:hover{
    border: 0.02rem solid var(--accent);
}

.bd-abt-img{
    border-radius: var(--border-radius);
}

.bd-h2{
    border-bottom: 0.15rem solid var(--primary);
    padding-bottom: 0.5rem;
}

.bd-projects{
    background: var(--primary);
    margin: 1rem 0;
    width: 100%;
    padding: 2rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 1rem;
}

.bd-prjt{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    column-gap: var(--gap);
    border-bottom: 0.2rem solid var(--border);
    padding-bottom: 0.5rem;
}

.bd-prjt::before{
    content: "Projects";
    top: -15px;
}
.bd-part-1{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.bd-p-img{
  border-radius: var(--border-radius);
    transition: transform var(--transition-duration) linear;    
}

.bd-p-img:hover{
    transform: scale(1.1);
}

.bd-web-name{
    font-weight: bolder;
    text-decoration: underline wavy var(--accent) 0.04rem; 
}

.bd-p-descr{
    border-left: solid 0.6rem var(--accent);
    border-radius: var(--border-radius);
    padding: 0.6rem;
    background: var(--bg);
    box-shadow: 0.8rem 0.8rem 1rem rgba(255, 255,255,0.2);
}

.bd-skls-cont{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.bd-skls{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--gap);
}

.bd-skl{
    background: rgba(135, 206, 235, 0.3); 
    padding: 0.6rem;
    border-radius: var(--border-radius);
}

.bd-visit{
    background: var(--accent);
    padding: 0.6rem;
    text-decoration: none;
    color: var(--secondary);
    align-self: flex-start;
    border-radius: var(--border-radius);
}

.bd-visit:hover, .bd-visit:active{
    outline: none;
}

.bd-contact{
    margin: 2rem 1rem;
    background: black;
}

.bd-slinks{
    border: 0.1rem solid var(--border);
    border-radius: var(--border-radius);
    padding: 1.2rem;
}

.bd-slinks .bd-h2{
    color: var(--accent);
    text-align: center;
}

.bd-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: 1rem;
    justify-content: center;
}

.bd-link:link, .bd-link:visited{
    color: var(--secondary);
    padding: 0.7rem;
    text-decoration: none;
}

.bd-link:hover, .bd-link:active{
    background: var(--bg);
    border: 0.1rem solid var(--border);
    border-radius: var(--border-radius);
    outline: none;
    color: var(--accent);
}

.bd-form{
    background: var(--bg);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: var(--border-radius);
}

.bd-label{
    color: rgba(255,255,255,0.4);
    padding-bottom: 0.5rem;
}

.bd-input, .bd-textarea, .bd-input{
    background: black;
    border: 0.05rem solid var(--border);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    padding: 0.8rem;
    color: var(--secondary);
    font-family: var(--base-font);
}

.bd-submit{
    background: var(--accent);
    color: var(--secondary);
    padding: 0.6rem;
}

.bd-submit:active{
    opacity: 0.7;
}
@media screen and (min-width: 992px){
    .menu-btn{
        display: none;
    }
    .m-list{
        display: block;
    }
    .cf{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0.6rem 1rem;
    }
}

